footer{
    background-color: #243e4f;
    min-height: 75vh;

}
.footer{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    height: 400px;
    margin: 0px auto;
    width: 1400px;
}
.information{
    margin: 30px;
    padding: 10px;
    width: 200px;
}
.information h6{
    color: whitesmoke;
    padding: 4px;
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;

    
}
.information li{
    color: grey;
    padding: 5px;
    width: 160px;
    height: 40px;

}
.information li a{
    color: grey;
    text-transform: capitalize;
    width: 160px;
}
.information li a:hover{
   border-bottom: 1px solid grey;
   
}
footer .none{
    border-color: antiquewhite;
    margin: 0px auto;
    width: 1350px;
}

.socail{
    display: flex;
    width: 500px;
    height: 90px;
    margin: 10px 180px;
    align-items: center;
    gap: 1px;
}
.socail > div{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.502);
}
.socail > div > img{
    margin: 13px auto;
    width: 25px;
    height: 25px;
    
}
.facebook:hover{
    background-color: #1877fc;
}
.twitter:hover{
    background-color: #1da1fc;
}
.instagram:hover{
    background-color: #dd2a7b;
}
.googgle:hover{
    background-color: orange;
}

.copy{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 1300px;
    margin: 40px auto; 
    height: 50px;
}
.copy p{
  padding: 10px;
  color: aliceblue;font-weight: 600;
  text-transform: capitalize;
}
.copy img{
    margin-left: auto;
}